/* ===========================
   General
=========================== */
:root {
  --color-yellow: #f89c39;
  --color-black: #282626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* ===========================
   Utilites
=========================== */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* ===========================
   Header
=========================== */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.topbar-logo img {
  width: 150px;
}
.topbar-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  gap: 0.5rem;
}
.topbar-icons a {
  background: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.topbar-info p {
  font-size: 18px;
  font-weight: lighter;
}

/* Primary Navbar */
.navbar-toggle {
  display: none;
  font-size: 24px;
  margin-left: auto;
  padding: 0rem 1rem;
}

.primary-navbar {
  background-color: var(--color-black);
  color: white;
  border-block: 1px solid var(--color-yellow);
}
.primary-navbar .navbar-menu {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.primary-navbar .navbar-item {
  position: relative;
  padding: 0 50px 0 0;
}
.primary-navbar .navbar-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
  background-color: #ccc;
}
.navbar-item > a {
  padding: 0.5rem;
  display: block;
}
.navbar-item {
  position: relative;
}
.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  text-wrap: nowrap;
  z-index: 10;
  display: none;
  color: black;
}
.navbar-item:hover .navbar-dropdown {
  display: flex;
}

/* Secondary Navbar */
.secondary-navbar {
  border-bottom: 1px solid #ccc;
}
.secondary-navbar .navbar-menu {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Mobile Menu */
@media (max-width: 992px) {
  .topbar-logo img {
    width: 120px;
  }
  .navbar-item::after {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-container {
    display: none;
    flex-direction: column;
    background: var(--color-black);
    color: white;
    padding: 1rem;
    gap: 1rem;
  }
  .navbar-container.open {
    display: flex;
  }
  .primary-navbar {
    border-block: none;
  }
  .secondary-navbar {
    border-bottom: none;
    border-top: 1px solid var(--color-yellow);
    padding-top: 1rem;
  }
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-dropdown {
    position: static;
    box-shadow: none;
    background: transparent;
    color: white;
  }
}

/* ===========================
   Hero
=========================== */
.hero {
  padding: 2rem;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===========================
   Potential
=========================== */
.potential {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}
.potential-info {
  max-width: 500px;
}
.potential-info span {
  background-color: black;
  color: var(--color-yellow);
  padding: 0px 4px;
}
.potential-info h1 {
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 1rem;
}

.potential-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.potential-image img {
  width: 280px;
}
.potential-image :nth-child(2) {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .potential-image {
    grid-template-columns: 1fr;
  }
  .potential {
    grid-template-columns: 1fr;
  }
}

/* ===========================
   Support
=========================== */
.support {
  background: url(/assets/images/support-bg.png);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 2rem;
  /* background-color: var(--color-yellow); */
}
.support-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 2rem;
}

.support-list {
  list-style: disc;
  padding-left: 1rem;
}
.support-highlight h2 {
  color: var(--color-yellow);
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .support-container {
    grid-template-columns: 1fr;
  }
}

/* ===========================
   Stats
=========================== */
.stats {
  background: url(/assets/images/stats-bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
}
.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stat-value {
  font-size: 3rem;
  font-weight: 900;
}
.stat-1 h4 {
  font-size: 4rem;
}
.stat-3 span {
  font-size: 4rem;
}
.stat-label {
  font-weight: 600;
}
